-#%section.galler-view.section-scroll
  .container
    .title-main
      %h2 Gallery
      %p Dear guests you can also upload your wedding photos on Instagram, hashtag them #ourWedding
      .headin-img
        %img{:alt => "", :src => "images/galler-headingBg.png"}/
    .row
      .col-sm-4
        .galler-box
          %img{:alt => "", :src => "images/galler-img1.png"}/
        .galler-box
          %img{:alt => "", :src => "images/galler-img2.png"}/
      .col-sm-4
        .galler-box
          %img{:alt => "", :src => "images/galler-img3.png"}/
        .galler-box
          %img{:alt => "", :src => "images/galler-img4.png"}/
      .col-sm-4
        .galler-box
          %img{:alt => "", :src => "images/galler-img5.png"}/
        .galler-box
          %img{:alt => "", :src => "images/galler-img6.png"}/

