%section.gift-view.section-scroll
  .container
    .title-main
      %h2= t(:see_you_there)
      %p= t(:hash_tag)
      .headin-img
        %img{:alt => "", :src => "images/wedding-headingBg.png"}/


