-#.banner{:style => "background-image:url(images/banner-img.jpg);"}
  .logo
    %a{:href => "#"}
      %img{:alt => "", :src => "images/logo.png"}/
  .banner-text
    .title
      %h1
        Yael
        %span> &
        Moises
      .line
        %img{:alt => "", :src => "images/banner-hedingLIne.png"}/
      .date
        = t(:wedding_date)
      .statest= t(:wedding_date_message)
