-#%section.location-info.section-scroll
  .loction-view
    .inner-view
      .title-main
        %h2 Location
        %p Dear guests you can also upload your wedding photos o
        .headin-img
          %img{:alt => "", :src => "images/location-headingBg.png"}/
      .info-slide
        .info-box
          %i.fa.fa-calendar>
          20 April, 2016
        .info-box
          %i.fa.fa-clock-o>
          3pm - 6pm
        .info-box
          %i.fa.fa-map-marker>
          Hannover, Germany
      %p Lorem ipsum dolor sit amet, consectetur adi pisi cing elit, sed do eiusmod tempor exercitationemut labore et dolore magna aliqua by injected humour, domised words which slightly believable.
  #map.map

