-#%section.our-story.section-scroll
  .container
    .title-main
      %h2 Our love story
      %p Dear guests you can also upload your wedding photos on Instagram, hashtag them #ourWedding
      .headin-img
        %img{:alt => "", :src => "images/story-headingBg.png"}/
    .story-tree
      .story-box
        .img{:style => "background-image:url(images/story-img1.png);"}
        .story
          .story-title How we met
          .story-date
            %i.fa.fa-calendar
            16 April, 2016
          %p Lorem ipsum dolor sit amet, consectetur adi pisi cing elit, sed do eiusmod tempor exercitationemut labore et dolore magna aliqua by injected humour,
      .story-box.right
        .img{:style => "background-image:url(images/story-img2.png);"}
        .story
          .story-title The first day we met
          .story-date
            %i.fa.fa-calendar
            16 April, 2016
          %p Lorem ipsum dolor sit amet, consectetur adi pisi cing elit, sed do eiusmod tempor exercitationemut labore et dolore magna aliqua by injected humour,
      .story-box
        .img{:style => "background-image:url(images/story-img3.png);"}
        .story
          .story-title We are engaged
          .story-date
            %i.fa.fa-calendar
            16 April, 2016
          %p Lorem ipsum dolor sit amet, consectetur adi pisi cing elit, sed do eiusmod tempor exercitationemut labore et dolore magna aliqua by injected humour,
      .story-box.right
        .img{:style => "background-image:url(images/story-img4.png);"}
        .story
          .story-title Getting married
          .story-date
            %i.fa.fa-calendar
            16 April, 2016
          %p Lorem ipsum dolor sit amet, consectetur adi pisi cing elit, sed do eiusmod tempor exercitationemut labore et dolore magna aliqua by injected humour,

